{% extends 'base.html.twig' %}

{% block body %}
<h1>Register</h1>

<div class="container py-4">
    <form method="post">
        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" required placeholder="Password">

        <button type="submit">Register</button>
    </form>
</div>

{% endblock %}