<div class="session-row border rounded p-3 mb-3">
    <div class="row g-3">
        <div class="col-md-4">
            {{ form_row(prototype.title) }}
        </div>
        <div class="col-md-4">
            {{ form_row(prototype.startsAt) }}
        </div>
        <div class="col-md-4">
            {{ form_row(prototype.endsAt) }}
        </div>
    </div>
</div>